<style>

h1 {
    color: orange; text-align: middle; vertical-align: top;
}
h3 {
    color: yellow; text-align: left;
}
h4 {
    color: lightcoral;
}
p {
    color:white;
}
li {
    color: lightgreen; text-align: left;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 0.5em;
}
nav a {
    color: #fff;
    text-decoration: none;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #333;
}
header {
    background-color: #8945e2;
    color: orange;
    text-align: center;
    padding: 1em;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #a075e6;
    padding: 0.5em;
}
nav a {
    color: #fff;
    text-decoration: none;
}
section {
    padding: 2em;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
table {
    text-align: center;
}
tr {
    text-align: center;
}
td {
    text-align: center;
}
img {
    align: center;
}
   
</style>